init.author.name=zhongj
init.author.email = zhongj@cdzkdc.com
init.author.url = http://www.cdzkdc.com
registry=http://192.168.203.241:8081/repository/npm-release/
email=zhongj@cdzkdc.com
folder=release
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
