init.author.name=zhongj
init.author.email = featherfly@foxmail.com
init.author.url = http://github.com/featherfly/
# registry=http://192.168.203.241:8081/repository/npm-release/
registry=https://registry.npmjs.org/
email=featherfly@foxmail.com
folder=release
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
