openapi: 3.0.3
info:
  title: 项目信息接口定义
  description: >
     项目信息接口定义
  termsOfService: http://jbox.featherfly.cn/terms/
  contact:
    email: featherfly@foxmail.com
  version: 1.0.0
servers:
  - url: https://jbox.featherfly.cn/api/v1
  - url: http://jbox.featherfly.cn/api/v1
tags:
  - name: application
    description: 项目应用
  - name: application-user
    description: 项目应用用户关系
  - name: application-privilege
    description: 项目应用权限关系
components:
  schemas:
    Status:
      type: string
      enum:
        - DISABLE
        - ENABLE
    ApplicationPageDto:
      properties:
        total:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDto'
    ApplicationListDto:
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDto'
    ApplicationDto:
      properties:
        id:
          type: integer
          format: int64
          description: 主键ID
        name:
          type: string
          description: 名称
        code:
          type: string
          description: 编号
        descp:
          type: string
          description: 描述信息
        status:
          $ref: '#/components/schemas/Status'
          description: 禁用启用状态
        uri:
          type: string
          description: 系统地址
        platforms:
            items:
              type: string
              description: 系统平台名称
    UserBindapplications:
      properties:
        userId:
          type: integer
          format: int64
        applicationIds:
          type: array
          items:
            type: integer
            format: int64
    ApplicationBindUsers:
      properties:
        applicationId:
          type: integer
          format: int64
        userIds:
          type: array
          items:
            type: integer
            format: int64
    ApplicationSaveDto:
      properties:
        name:
          type: string
          description: 名称
        code:
          type: string
          description: 编号
        descp:
          type: string
          description: 描述信息
        status:
          $ref: '#/components/schemas/Status'
          description: 禁用启用状态
        uri:
          type: string
          description: 系统地址
        platformNames:
          items:
            type: string
            description: 系统平台名称
    ApplicationUpdateDto:
      
      properties:
          id:
            type: integer
            format: int64
            description: 主键ID
          name:
            type: string
            description: 名称
          code:
            type: string
            description: 编号
          descp:
            type: string
            description: 描述信息
          status:
            $ref: '#/components/schemas/Status'
            description: 禁用启用状态
          uri:
            type: string
            description: 系统地址
          platformNames:
            items:
              type: string
              description: 系统平台名称
    BingApplicationPrivilegeDto:
      properties:
          appId:
            type: integer
            format: int64
            description: 系统平台id
          selectedPrivilege:
            type: string
            description: 权限字符串，按逗号拼接