{{#returnContainer}}{{#isMapContainer}}Map<String, {{>returnVoidType}}>{{/isMapContainer}}{{#isListContainer}}List<{{>returnVoidType}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{>returnVoidType}}{{/returnContainer}}